.detalles {
    height: 100%;
    width: 270px;
    position: absolute;
    background-color: #BA1C3F;
    padding: 20px;
}

.menu {
    height: 80%;
    width: 600px;
    position: relative;
    top: 50px;
    left: 350px;
}

.boton{
    font-size: 22px;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 40px;
    width: 260px;
    height: 50px;
    background-color: white;
}

.peliculas{
    position: relative;
}

.horarios{
    position: absolute;
}

.nombre{
    position: absolute;
}

.movie, .leng, .titulos{
    color: white;
}