body{
    margin: 0;
    padding: 0;
    
    
}
.asientos{
    
    width: 60%;
    height: 550px;
    margin-top:  0%;
    margin-right: 40%;
    margin-left: 3%;
    border-radius: 10px;
    background: #ffffff;
    text-align:center ;
}
.pantalla{
    
    width: 550px; 
    height: 20px; 
    background: #000000;
    align-items: center;
    color:white;
    font-family:  'Century Gothic';
    font-weight: bold;
}

.Filas{
    
    color:black;
    font-family:  'Century Gothic';
    text-align:justify;
    list-style: none;
    margin-left: 50px;
    margin-top: 20px;
   font-size: x-large;
   line-height: 40px;
   font-weight: bold;

}


.sillas{
    margin-top: -320px;    
    justify-content: flex-start;
    margin-left: 120px;
    display: flex;
    flex-wrap: wrap;
    line-height: 25px;  
}


.cupo{
    columns: 1;
    column-gap: 10px;
    text-align: center;
    font-family:  'Century Gothic';
    font-weight: bold;
    margin-top: 10px;
    list-style:none;
}

.cupo img{
    border-radius: 10px;
}

.container{
    margin-top: 10px;
}

.container2{
    
    width: 30%;
    height: 550px;
    margin-top: -551px;
    margin-left:  60%;
    border-radius: 10px;
    background: #ffffff;
    text-align:center ;
}

.container2 img{
    border-radius: 10px;
}
.cartel{
    /* font-size: medium; */
    margin-top: 1px;
}

.cartel p{
    line-height: 5px;
    text-align: justify;
    margin-left: 50px;
}


.cartel button{
    width: 120px;
    height: 50px;
    font-family:  'Century Gothic';
    font-size: x-large;
    border-radius: 20px;
    border-color: #BA1C3F;
    border-bottom: 0;
    color:white;
    background-color: #BA1C3F;   
}

.cartel button:hover{
    background-color: #721226;
    color: white;
}
a{
    text-decoration: none;
    color:white;
}


.asientos button{
    width: 120px;
    height: 50px;
    font-family:  'Century Gothic';
    font-size: x-large;
    border-radius: 20px;
    border-bottom: 0;
    color:white;
    background-color: #BA1C3F;
    
}

.asientos button:hover{
    background-color: #721226;
    color: white;
}

.infoPelicula{
    margin-top: 15px;
}
input[type="checkbox"] {
    accent-color: #BA1C3F; 
  }
 
/*Estilos para pantallas escritorio*/
@media(min-width: 1024px) and (max-width: 2048px){
    .container{
        padding: 0 40px;
    }
    .img-mover:hover{
        filter: brightness(50%);
        cursor: pointer;
    }
}

/*Estilos para pantallas de tablets*/
@media(min-width: 1071px) and (max-width:934px){
    .container{
        padding: 0 10px;
        display: flex;
        flex-wrap: wrap;

    }
    .asientos{
        width: 100%;
        
    }
    .container2{
        width: 100%;
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 0px;
     
    }
    .img-mover{
        width: 25px;
    }
    .active, img-mover:hover{
        filter: brightness(30%);
        cursor: pointer;
    }
}

/*Estilos para pantalla de móviles*/
@media (max-width: 760px){
    .container{
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .asientos{
        width: 100%;
      
        
    }
    .container2{
        width: 100%;
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 0px;
        
        
    }
    .img-mover{
        width: 25px;
    }
    .img-mover:hover{
        filter: brightness(50%);
        cursor: pointer;
    }
}
    
