.datos{
    margin-left: 100px;
}

.tit{
    margin-left: 230px;
    margin-top: 50px;
}

.card{
    width: 280px;
}

.anio{
    font-size: 10px;
}

.cvv{
    width: 40px;
}

.anio{
    width: 50px;
}

.pelicula{
    margin-top: -430px;
    margin-left: 700px;
    padding: 20px;
    width: 460px;
    position: static;
    background-color: #3E3A3A;
    border-radius: 40px;
}

.dato{
    font-size: 20px;
    padding-left: 240px;
    padding-top: -300px;
    margin-top: -230px;
}

.info{
    padding-left: 40px;
    padding-right: -100px;
    margin-right: 70px;
    margin-top: 30px;
}

.total{
    margin-top: 70px;
}

span, h2{
    color: white;
}

h3{
    color: #BA1C3F;
}

.tarjeta{
    width: 200px;
    height: 80px;
    margin-left: 180px;
    margin-top: -90px;
}

.pagar{
    margin-top: 30px;
    margin-left: 200px;
    border-radius: 40px;
    width: 280px;
    height: 50px;
    background-color: #BA1C3F;
    color: white;
}