.rectanguloNegro{
    width: 1366px;
    height: 80px;
    background-color:#000000;
    display: flex;
    flex-wrap: wrap;
}
.rectanguloRojo{
    width: 1366px;
    height: 40px;
    background-color:#BA1C3F;
    display: flex;
    flex-wrap: wrap;
}

.titulo{
    margin-top: -100px;
    margin-left: 10px;
    padding-bottom: 20px;
}

.letras1{
    margin-top: 40px;
    margin-left: 250px;
    font-size: 22px;
    color: white;
    padding-bottom: 10px;
}

.letras2{
    margin-top: -35px;
    margin-left: 450px;
    font-size: 22px;
    color: white;
    padding-bottom: 0px;
}

.letras3{
    margin-top: -25px;
    margin-left: 750px;
    font-size: 22px;
    color: white;
    padding-bottom: 0px;
}

.letras4{
    margin-top: -25px;
    margin-left: 1010px;
    font-size: 22px;
    color: white;
    padding-bottom: 0px;
}

.imgUsuario{
    margin-top: -120px;
    margin-left: 1200px;
    padding-bottom: 10px;
}

.letrasBanner{
    margin-top: -350px;
    margin-left: 350px;
    font-size: 52px;
    color: white;
    padding-top: 0px;
}

.sinopsisBanner{
    margin-top: 50px;
    margin-left: 350px;
    font-size: 22px;
    color: white;
    text-align:justify;
    padding-bottom: 20px;
}

.btnComprar{
    margin-top:-140px;
    margin-left: 350px; 
    width: 280px;
    height: 55px;
    border-radius: 15px;
    background: #BA1C3F;
    color: white;
    border: none;
    font-size: 28px;
    font-weight: bold;
   font-style: normal;
   font-family: Century Gothic;
}

.btnTrailer{
    margin-top:-140px;
    margin-left: 40px; 
    width: 210px;
    height: 55px;
    border-radius: 15px;
    background: white;
    color: black;
    border: none;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
   font-family: Century Gothic;
}


.imgBaner{
    margin-top: 50px;
    margin-left: 75px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.imgPoster1{
    margin-top: -370px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}

.imgPoster2{
    margin-top: 60px;
    margin-left: 60px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.imgPoster3{
    margin-top: -360px;
    margin-left: 310px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.imgPoster4{
    margin-top: -360px;
    margin-left: 560px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.imgPoster5{
    margin-top: -360px;
    margin-left: 810px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.imgPoster6{
    margin-top: -360px;
    margin-left: 1060px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.imgPoster7{
    margin-top: -10px;
    margin-left: 60px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.imgPoster8{
    margin-top: -360px;
    margin-left: 310px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.imgPoster9{
    margin-top:-360px;
    margin-left: 560px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.imgPoster10{
    margin-top: -360px;
    margin-left: 810px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.imgPoster11{
    margin-top: -360px;
    margin-left: 1060px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.publicidad1{
    margin-top: -10px;
    margin-left: 60px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

#buscar{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    border: none;
    margin-top: -130px;
    margin-left: 850px;
    
}

.input{
    background-color: #BA1C3F;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 25px;
}