body{
    background-color: rgb(255, 255, 255);
    box-sizing: content-box; 
}

.container{
    max-width: 1500px;
    margin: 0px;
    flex-wrap: wrap;
    display: flex;
    /* background-color: rgb(185, 185, 185); */
}

.menu_pago{
    display: flex;
    flex-wrap: wrap;
    padding-left: 55px;
    margin-left: 40px;
    margin-top: 30px;
}

.numeros{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 25px 0px 25px;
}

.num_num, .cvv_num{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.tarjeta{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 80px;
    margin-left: 280px;
    margin-top: -70px;
}

.card{
    padding-left: 20px;
    border-color: black;
    border-radius: 40px;
    border-width: 3px;
    height: 30px;
}

.card2{
    margin-left: 35%;
    margin-top: -30px;
}

.cartelera{
    margin-left: 10%;
    margin-top: 100px;
}
.detalles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 400px;
    margin-left: 100px;
    margin-top: 40px;
    padding-right: 30px;
    background-color: #3E3A3A;
    border-radius: 40px;
    color: white;
}

.total{
    margin: auto;
    padding-left: 30px;
    /* background-color: blue; */
}

.info{
   margin-top: -250px;
   margin-left: 60%;
}

.tituloDetalle{
    margin-top: 20px;
    align-items: center;
    margin-left: -7%;
}

#anio, #cvv{
    width: 70px;
}

.pagar{
    margin: 40px 0px 30px 80px;
    border-color: #BA1C3F;
    background-color: #BA1C3F;
    color: white;
    border-width: 3px;
    border-radius: 10px;
    width: 230px;
    height: 50px;
}

.pagar:hover{
    background-color: white;
    color: #BA1C3F;
}

.pagar:active{
    background-color: white;
}

.tit{
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 40px 0px 30px 90px;
}

select { 
    width: 150px;
}

/*Estilos para pantallas escritorio*/
@media(min-width: 1024px) and (max-width: 2048px){
    .container{
        padding: 0 40px;
    }
}

/*Estilos para pantallas de tablets*/
@media(min-width: 760px) and (max-width:960px){
    .container{
        padding: 0 10px;
        display: flex;
        flex-wrap: wrap;
    }
}

/*Estilos para pantalla de móviles*/
@media (max-width: 760px){
    .container{
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
    }
}
