body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    box-sizing: content-box; 
}

.container{
    max-width: 800px;
    margin-left: 79%;
    display: flex;
    flex-wrap: wrap;
    margin-top: -480px;
}

.detalles {
    display: flex;
    flex-wrap: wrap;
    background-color: #BA1C3F;
    padding: 20px;
    flex-direction: column;
    /* margin-left: -40px;
    margin-top: -15px; */
}

.fecha{
    padding-top: 3px;
    font-size: 14px;
    border-radius: 40px;
    width: 120px;
    height: 30px;
    background-color: #BA1C3F;
    border-color: white;
    border-style: solid;
    color: white;
}

.fecha:hover{
    background-color: white;
    color: black;
}

.fecha:active{
    background-color: white;
    color: black;
}

.boton{
    font-size: 18px;
    margin-top: 18px;
    border-radius: 40px;
    width: 220px;
    height: 45px;
    background-color: white;
    border: none;
}
.boton:hover{
    background-color: rgb(236, 119, 119);
    color: black;
}

.menu{
    flex-direction: column;
    margin-top: 10px;
    margin-left: 1%;
    display: flex;
    flex-wrap: wrap;
}

.info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 10px;
}

.horarios{
    padding-top: -50px;
    padding-left: 20px;
    padding-right: 20px; 
}

.movie, .leng, .titulos{
    color: white;
}

.hora{
    font-size: 18px;
    margin-top: 18px;
    border-radius: 5px;
    border-color: #BA1C3F;
    height: 35px;
    width: 100px;
    background-color: white;    
    border-width: 3px;
}

.hora:hover{
    background-color: #BA1C3F;
    color: white;
}

.hora:active{
    background-color: #BA1C3F;
}

/* b{
    font-size: 20px;
} */

input[type="radio"] {
    accent-color: #000000; 
  }
 

/* .menu {
    height: 80%;
    width: 600px;
    position: relative;
    top: 50px;
    left: 350px;
}

.boton{
    font-size: 22px;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 40px;
    width: 260px;
    height: 50px;
    background-color: white;
}

.peliculas{
    position: relative;
}

.horarios{
    position: absolute;
}

.nombre{
    position: absolute;
}

.movie, .leng, .titulos{
    color: white;
} */